* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.body-container{
  /* padding-top:50px; */
}


.user-name{
  font-weight: bold;
}

.user-name:hover{
  pointer:pointer;
}

.edit-form{
  border: 1px solid blue;
  padding:50px;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
    
}
.edit-form-container{

  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.setting-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

}


.profile-picture{
  height:100px;
}

.navbar-container{
  /* position: fixed; */
  background:rgb(32,	47	,62	);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width:100%;
  flex-wrap: nowrap;
  flex-shrink: 1;

}

/* navbar */
.navbar-container a{
  color: white;
  text-decoration: none;
  height:40px;
  width: 120px;
}

.navbar-container a:hover{
  background: black;
}






/* homepage */

.homepage-container{
  padding-top: 50px;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;


}

.homepage-tweets{
  border: 1px solid black;
  height: 80%;
  padding:20px;
  border-radius: 20px;
  box-shadow: 5px 10px #888888;
  overflow: scroll;
}

.profile-tweets{
  border: 1px solid black;
  height: 500px;
  padding:20px;
  border-radius: 20px;
  box-shadow: 5px 10px #888888;
  overflow: scroll;
  width: 500px;
}

.profile-blogs{
  border: 1px solid black;
  height: 300px;
  padding:20px;
  border-radius: 20px;
  box-shadow: 5px 10px #888888;
  overflow: scroll;
  width: 500px;
}

.profile-blogs-and-form{
display: flex;
flex-direction: column;
align-items: center;
}

.profile-container{
  padding:10px;
}

.blog-and-tweet{
  padding-top:40px; 
 display: flex;
 flex-direction: row;
 justify-content: space-around
}


.each-tweet{
  width:80%;
  margin: 10px auto;
  border-radius: 20px;
  padding:10px;

}

.each-tweet:nth-child(even){
  background-color:  rgb(217,	218,	213	);
}

.each-profile-pic{
  height:50px;
}


.homepage-tweets{
  width:400px;

}

.modale{
  position: fixed;
  width: 50%;
  z-index: 999;
  background: grey;
  top: 20%;
  left: 20%;
}

.modale header {
  padding: 10px;
  text-align: right;
}


.login-form,.register-form{

  /* align-self: center; */
  width:500px;
}

.login-container{
  /* background-image: url("https://i.ibb.co/mc81rkf/64302397-2035830616523205-6764429927623163904-o.jpg");
  background-position: center;  */
  padding-top: 80px;
  height: 100vh;
  width: 100vw;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.register-login-heading{
  font-family: 'Caveat', cursive;
  font-size: 60px;

}


.register-container{
  /* background-image: url("https://i.ibb.co/mc81rkf/64302397-2035830616523205-6764429927623163904-o.jpg");
  background-position: center;  */
  padding-top: 80px;
  height: 100vh;
  width: 100vw;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.login-register{

}

/**********************  
   Sidebar Component
***********************/



.sidebar-image{
height: 100px;
width: 100px;
}

.side-bar{
  position: fixed;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 300px;
  padding: 15px;
  height: 85vh;
  border: 1px solid black;
  right:20px;
  top: 50px;
}

.two-user-messages, .global-messages{
  padding: 25px;
  height: 100px;
  overflow: scroll;

}


.Calender{
  padding:15px;
}

.calender-flex{
  width:80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.create-event{
  width: 100px;
  
}

.event-submit-btn{
  display: flex;
  justify-content: center;
}
.calender-component{
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.profile-blog-form{
  padding-top: 30px;
  width:400px;
}

.chat-container {
  border: 1px solid grey;
  width: 95%;
  height: 200px;
  overflow: scroll;
  margin: 0 auto;
  margin: 15px 0 30px;
}


/**********************  
  Single Chat Component
***********************/

.chat-single , .chat-global {
  background: white;
  height: 300px;
  border: 1px solid grey;
  overflow: scroll;
}

.chat-single form , .chat-global form {
  width: 80%;
  /* margin: 40px auto 0; */
}

.chat-single input, .chat-global form {
  text-align: center;
  /* margin: 20px auto 0; */
}

.chat-global{
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.two-user-messages , .global-messages{
height:200px;
}

.friend-list-component{
  display: flex;
  width: 700px;
  flex-direction: row;
  justify-content: space-around;
  padding:10px;
}




  .all-friends-friendlist,.all-users{
    width:200px;
    border: 1px solid black;
    height: 400px;
    padding:20px;
    border-radius: 20px;
    box-shadow: 5px 10px #888888;
    overflow: scroll;
  
  }


  .each-user-friends{
    /* background-color: red; */
    padding: 10px;
    border:1px solid grey;
    margin-top:5px;
    border-radius: 15%;
  }